[mysqld]
server-id=1
log-bin=mysql-bin
binlog-format=ROW
binlog_do_db=seckill_0
binlog_do_db=seckill_1
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-time-zone='+08:00'
gtid_mode=ON
enforce_gtid_consistency=ON
