[mysqld]
server-id=2
log-bin=mysql-bin
binlog-format=ROW
replicate-do-db=seckill_0
replicate-do-db=seckill_1
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-time-zone='+08:00'
gtid_mode=ON
enforce_gtid_consistency=ON
read_only=1
